.tx-dark {
  color: #232326;
}

.tx-light {
  color: #FFFFFF;
}

.tx-purpple-01 {
  color: #302B76;
}

.font-barlow {
  font-family: "Barlow", sans-serif;
}

.h-64px {
  font-size: 64px;
  font-style: normal;
  line-height: 120%;
}

.h-44px {
  font-size: 44px;
  font-style: normal;
  line-height: 130%;
}

.h-40px {
  font-size: 40px;
  font-style: normal;
  line-height: 130%;
}

.h-18px {
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
}

.h-18px {
  font-size: 18px;
  font-style: normal;
  line-height: 150%;
}

.h-16px {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.btn-primary {
  background-color: #302B76;
  color: #FFFFFF;
  padding: 27px 37px !important;
  border-radius: 94px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  color: #232326;
  padding: 27px 37px !important;
  border-radius: 94px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.btn-dark {
  background-color: #232326;
  color: #FFFFFF;
  padding: 22px 25px !important;
  border-radius: 50%;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.footer {
  max-width: 1440px;
  margin: auto;
  background-color: #302B76;
  padding: 30px 80px;
  border-radius: 45px 45px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-social-icons {
  width: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-social-icons a {
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
}
.footer-social-icons .icon-tweeter {
  background-image: url("../../assets/icons/icon-twitter.png");
}
.footer-social-icons .icon-instagram {
  background-image: url("../../assets/icons/icon-insta.png");
}
.footer-social-icons .icon-linkedin {
  background-image: url("../../assets/icons/icon-linkedin.png");
}
.footer-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.footer-menu a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

.navbar {
  padding: 60px 55px 60px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo-mediaground {
  display: block;
  width: 45px;
  height: 45px;
  background-image: url("../../assets/logos/logo-mediaground.png");
  background-size: contain;
}
.navbar .logo a {
  display: block;
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: 700;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.navbar-menu a:nth-child(-n+3) {
  padding: 12px 16px;
  border-bottom: transparent 1px solid;
  color: #232326;
  font-size: 16px;
  font-weight: 700;
}
.navbar-menu a:nth-child(-n+3).selected {
  box-shadow: inset 0px -4px 0px #5137D7 !important;
}
.navbar-menu a:nth-child(-n+3):hover {
  box-shadow: inset 0px -4px 0px #5137D7;
}
.navbar-menu a:nth-child(4) {
  margin-left: 47px;
}

.single-card {
  padding: 46px 36px 0px 36px;
  position: relative;
  width: 340px;
  height: 304px;
  box-shadow: 0px 1px 8px rgba(69, 69, 69, 0.2);
  border-radius: 16px;
}
.single-card h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #302B76;
}
.single-card h2 {
  padding: 14px 0px;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #232326;
}
.single-card p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #232326;
}

.testimonial-card {
  width: 757px;
  height: 238px;
  padding: 40px;
  box-shadow: 0px 1px 8px rgba(110, 110, 110, 0.1);
  border-radius: 16px;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.testimonial-card div {
  height: 158px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card div h3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #302B76;
}
.testimonial-card div h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0.01px;
}
.testimonial-card div .testimonial-stars {
  width: 97px;
  height: 16px;
  display: inline;
}
.testimonial-card div p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  font-family: "Inter", sans-serif;
  color: #232326;
}
main .section-agency {
  max-width: 1440px;
  margin: auto;
  position: relative;
  padding: 32px 177px;
}
main .section-agency h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
}
main .section-agency p {
  width: 527px;
  padding: 32px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
main .section-agency .block-branding {
  padding: 40px 0;
  position: relative;
  display: flex;
  flex-direction: row;
}
main .section-agency .block-branding-graph {
  width: 380px;
  height: 545px;
  margin-right: 70px;
}
main .section-agency .block-branding-graph img:nth-child(2) {
  position: absolute;
  top: 360px;
  left: 87px;
}
main .section-agency .block-branding-graph-right {
  width: 380px;
  height: 545px;
  margin-right: 70px;
}
main .section-agency .block-branding-graph-right img:nth-child(1) {
  position: relative;
  z-index: 2;
}
main .section-agency .block-branding-graph-right img:nth-child(2) {
  position: absolute;
  top: 410px;
  left: 540px;
  z-index: 1;
}
main .section-agency .block-branding-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
main .section-agency .block-branding-content h1 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #302B76;
}
main .section-agency .block-branding-content p {
  padding: 26px 0 60px 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
main .section-agency .block-branding-content h6 {
  padding-bottom: 18px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
main .section-agency .block-branding-content a {
  margin-top: 16px;
}
main .section-letstalk {
  max-width: 1440px;
  margin: auto;
  position: relative;
  position: relative;
  padding: 64px 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-letstalk div {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .section-letstalk div h1 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
}

/*# sourceMappingURL=services.css.map */
