// Font Colors
$PRIMARY_COLOR: #302B76;

$BTN_PRIMARY_TX_COLOR: #FFFFFF;
$BTN_PRIMARY_BG_COLOR: #21005D;
$BTN_PRIMARY_HV_COLOR: #443D98;

$TX_LIGHT_COLOR: #FFFFFF;
$TX_DARK_COLOR: #232326;

$MENU_UNDERLINE_COLOR: #5137D7;

$PRIMARY_BACKGROUND: #FFFFFF;
$SECONDARY_BACKGROUND: #F3F1FB;
$DARK_BACKGROUND: #232326;

.tx-dark {
    color: #232326;
}

.tx-light {
    color: #FFFFFF;
}

.tx-purpple-01 {
    color: #302B76;
}


// Titulo media color footer #302B76