@use './abstracts' as *;
@use './components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: 'Inter', sans-serif;
  color: $TX_DARK_COLOR;

  .section-intro {
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 32px 177px;

    h1 {
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 120%;
      color: $PRIMARY_COLOR;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;

      a {
        text-decoration: underline;
        color: $TX_DARK_COLOR;
      }
    }
  }

  .section-content {
    max-width: 1440px;
    margin: auto;
    position: relative;
    padding: 32px 177px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-logos {
      position: relative;
      width: 470px;
      display: flex;
      flex-direction: column;
      justify-content:space-evenly;
      align-items: start;

      & div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
          display: block;
          width: 80px;
          height: 80px;
          margin-right: 40px;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          box-shadow: 0px 1px 8px rgba(69, 69, 69, 0.2);
        }

        p {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
        }
      }

      &-msg {
        a {
          background-image: url('../assets//icons/icon-bubble.png');
        }
      }

      &-coffe {
        a {
          background-image: url('../assets//icons/icon-mug.png');
        }
      }
    }

    &-form {
      position: relative;
      width: 620px;
      padding: 40px 0px;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      grid-template-areas: "inp01 inp02" "inp03 inp04" "msg msg" "submit submit";
      gap: 16px;

      input {
        height: 60px;
      }
      
      input, textarea {
        font-family: 'Inter';;
        padding: 18px 30px;
        border: 1px solid #d1d1d1;
        border-radius: 20px;
      }

      textarea {
        background-color: #F1F1F5;
        resize: none;
      }

      .msg {
        grid-area: msg;
      }

      .submit {
        padding-top: 50px;
        grid-area: submit;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
          }

          p {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
